.idea
.pylint.d
.vscode

# reference
ECE314/ECE314_reference
ECE365/ref

# personal
*3180*.*
*@intl.zju.edu.cn*.*
*ruiqili4*.*

# tex
*.aux
*.log
*.out
*.synctex.gz
*.fls
*.fdb_latexmk

# big data set
ECE365/lab3/Data/