.idea
.pylint.d
.vscode

# reference
ECE314/ECE314_reference
ECE365/ML/ref
ECE365/Genomics/ref
ECE449/ref

# personal
*3180*.*
*@intl.zju.edu.cn*.*
*ruiqi*.*

# tex
*.aux
*.log
*.out
*.synctex.gz
*.fls
*.fdb_latexmk

# big data set
ECE365/ML/lab2/zip.train
ECE365/ML/lab2/zip.val
ECE365/ML/lab3/Data
ECE365/ML/lab4/zip.train
ECE365/ML/lab4/zip.val
ECE365/ML/lab5/zip.train
ECE365/ML/lab5/zip.val
ECE365/Genomics/lab1/lab1_data.zip
ECE365/Genomics/lab1/ecoli.fastq
ECE365/Genomics/lab1/ecoli_pac-bio.fasta
ECE365/Genomics/lab2/saccha.fasta
ECE365/Genomics/lab4/Zeisel_expr.txt

# jupyter notebook
.ipynb_checkpoints
